.wrapper {
    width:100vw;
    height:99vh;
    display: flex;
    background-color: #cccccc;

    .slide {
        width:60%;
        height:100%;
        border:2px solid #cccccc;
        border-radius: 70px;
        background-color: white;
    }
    
    .music {
        width:40%;
        height:100%;
        border:2px solid #cccccc;
        border-radius: 70px;
        position:relative;     
        background-color: white;
    }
    
}